<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h1>Create a new message</h1>

    <form action="/new" method="post">
        <input type="text" name="author" placeholder="Author Name">
        <input type="text" name="message" placeholder="Message Text">
        <button type="submit">Add message</button>
    </form>
</body>
</html>