<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Express</title>
</head>
<body>
    <h1><%= locals.title %></h1>
    <table>
        <thead>
            <tr>
                <th>Text</th>
                <th>User</th>
                <th>Added</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < locals.messages.length; i++) {%>
                <tr>
                    <td><%= messages[i].text %></td>
                    <td><%= messages[i].user %></td>
                    <td><%= messages[i].added %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>