<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Express</title>
  </head>
  <body>
    <header>
      <h1><%= locals.title %></h1>
    </header>
    <main>
      <div class="messages-container">
        <% for (let i = 0; i < locals.messages.length; i++) {%>
        <div class="message" data-user=<%= messages[i].user %> data-added=<%= messages[i].added.toLocaleString().replace(',', "") %>>
          <p class="text"><%= messages[i].text %></p>
        </div>
        <% } %>
      </div>
    </main>
    <footer>
      Copyright&nbsp;&copy;&nbsp;<a
        href="https://www.github.com/MickFrog"
        target="_blank"
        >MickFrog</a
      >
    </footer>
  </body>
</html>
